body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

form {
    background: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}
.waznosci {
    display: inline-block;
    width: 10px;
    height: 20px;
    vertical-align: middle;
}
.malo {
    background-color: green;
}

.srednio {
    background-color: darkorange;
}

.bardzo {
    background-color: red;
}

.dodawanie-link{
    position: relative;
    text-decoration: none;
}

.hover-dodaj {
    display: none;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f8f9fa;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 10;
}

.dodawanie-link:hover .hover-dodaj {
    display: block;
}
.nie-ma-not {
    color: #ff0000;
    text-align: center;
    font-size: large;
}
.clipboard-plus{

}


